colors: {
 'text': {
   50: 'var(--text-50)',
   100: 'var(--text-100)',
   200: 'var(--text-200)',
   300: 'var(--text-300)',
   400: 'var(--text-400)',
   500: 'var(--text-500)',
   600: 'var(--text-600)',
   700: 'var(--text-700)',
   800: 'var(--text-800)',
   900: 'var(--text-900)',
   950: 'var(--text-950)',
 },
 'background': {
   50: 'var(--background-50)',
   100: 'var(--background-100)',
   200: 'var(--background-200)',
   300: 'var(--background-300)',
   400: 'var(--background-400)',
   500: 'var(--background-500)',
   600: 'var(--background-600)',
   700: 'var(--background-700)',
   800: 'var(--background-800)',
   900: 'var(--background-900)',
   950: 'var(--background-950)',
 },
 'primary': {
   50: 'var(--primary-50)',
   100: 'var(--primary-100)',
   200: 'var(--primary-200)',
   300: 'var(--primary-300)',
   400: 'var(--primary-400)',
   500: 'var(--primary-500)',
   600: 'var(--primary-600)',
   700: 'var(--primary-700)',
   800: 'var(--primary-800)',
   900: 'var(--primary-900)',
   950: 'var(--primary-950)',
 },
 'secondary': {
   50: 'var(--secondary-50)',
   100: 'var(--secondary-100)',
   200: 'var(--secondary-200)',
   300: 'var(--secondary-300)',
   400: 'var(--secondary-400)',
   500: 'var(--secondary-500)',
   600: 'var(--secondary-600)',
   700: 'var(--secondary-700)',
   800: 'var(--secondary-800)',
   900: 'var(--secondary-900)',
   950: 'var(--secondary-950)',
 },
 'accent': {
   50: 'var(--accent-50)',
   100: 'var(--accent-100)',
   200: 'var(--accent-200)',
   300: 'var(--accent-300)',
   400: 'var(--accent-400)',
   500: 'var(--accent-500)',
   600: 'var(--accent-600)',
   700: 'var(--accent-700)',
   800: 'var(--accent-800)',
   900: 'var(--accent-900)',
   950: 'var(--accent-950)',
 },
},

@layer base {
  :root {
    --text-50: #eff6f0;
    --text-100: #dfece1;
    --text-200: #bfd9c3;
    --text-300: #9fc6a5;
    --text-400: #7eb487;
    --text-500: #5ea169;
    --text-600: #4b8154;
    --text-700: #39603f;
    --text-800: #26402a;
    --text-900: #132015;
    --text-950: #09100b;
    
    --background-50: #edf7ef;
    --background-100: #dcefe0;
    --background-200: #b9dfc0;
    --background-300: #95d0a1;
    --background-400: #72c082;
    --background-500: #4fb062;
    --background-600: #3f8d4f;
    --background-700: #2f6a3b;
    --background-800: #204627;
    --background-900: #102314;
    --background-950: #08120a;
    
    --primary-50: #ecf9ee;
    --primary-100: #d8f3dd;
    --primary-200: #b1e7ba;
    --primary-300: #8bda98;
    --primary-400: #64ce76;
    --primary-500: #3dc253;
    --primary-600: #319b43;
    --primary-700: #257432;
    --primary-800: #184e21;
    --primary-900: #0c2711;
    --primary-950: #061308;
    
    --secondary-50: #eafbed;
    --secondary-100: #d5f6da;
    --secondary-200: #abedb6;
    --secondary-300: #81e491;
    --secondary-400: #57db6d;
    --secondary-500: #2dd248;
    --secondary-600: #24a83a;
    --secondary-700: #1b7e2b;
    --secondary-800: #12541d;
    --secondary-900: #092a0e;
    --secondary-950: #041507;
    
    --accent-50: #e8fcec;
    --accent-100: #d2f9d8;
    --accent-200: #a5f3b2;
    --accent-300: #78ed8b;
    --accent-400: #4ae865;
    --accent-500: #1de23e;
    --accent-600: #17b532;
    --accent-700: #128725;
    --accent-800: #0c5a19;
    --accent-900: #062d0c;
    --accent-950: #031706;
    
  }
  .dark {
    --text-50: #09100b;
    --text-100: #132015;
    --text-200: #26402a;
    --text-300: #39603f;
    --text-400: #4b8154;
    --text-500: #5ea169;
    --text-600: #7eb487;
    --text-700: #9fc6a5;
    --text-800: #bfd9c3;
    --text-900: #dfece1;
    --text-950: #eff6f0;
    
    --background-50: #08120a;
    --background-100: #102314;
    --background-200: #204627;
    --background-300: #2f6a3b;
    --background-400: #3f8d4f;
    --background-500: #4fb062;
    --background-600: #72c082;
    --background-700: #95d0a1;
    --background-800: #b9dfc0;
    --background-900: #dcefe0;
    --background-950: #edf7ef;
    
    --primary-50: #061308;
    --primary-100: #0c2711;
    --primary-200: #184e21;
    --primary-300: #257432;
    --primary-400: #319b43;
    --primary-500: #3dc253;
    --primary-600: #64ce76;
    --primary-700: #8bda98;
    --primary-800: #b1e7ba;
    --primary-900: #d8f3dd;
    --primary-950: #ecf9ee;
    
    --secondary-50: #041507;
    --secondary-100: #092a0e;
    --secondary-200: #12541d;
    --secondary-300: #1b7e2b;
    --secondary-400: #24a83a;
    --secondary-500: #2dd248;
    --secondary-600: #57db6d;
    --secondary-700: #81e491;
    --secondary-800: #abedb6;
    --secondary-900: #d5f6da;
    --secondary-950: #eafbed;
    
    --accent-50: #031706;
    --accent-100: #062d0c;
    --accent-200: #0c5a19;
    --accent-300: #128725;
    --accent-400: #17b532;
    --accent-500: #1de23e;
    --accent-600: #4ae865;
    --accent-700: #78ed8b;
    --accent-800: #a5f3b2;
    --accent-900: #d2f9d8;
    --accent-950: #e8fcec;
    
  }
},
